@model MinusBugs.Institute.Web.FrontEnd.Models.MinusBugsLogin
@{
    ViewBag.Title = "Login";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Minusbugs | Login</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    <script src="~/Scripts/jquery-1.6.2.min.js"></script>
    <script>
    $(document).ready(function () {

        $("#btnLogin").click(function () {

           var unm = document.getElementById('username').value;
           var pwd = document.getElementById('Password').value;

            var ds = { Username: unm, Password: pwd };
            $.ajax({
                type: 'POST',
                url: '/Home/Login',
                data: ds,
                success: function (data) {
                    var result = jQuery.parseJSON(data);

                   // var title = result[0].Role;
                   // alert(result.username);

                    window.location.href = '/Dashboards/Dashboard_3';
                
                }

            });


        });
    });
    </script>

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">MB</h1>

            </div>
            <h3>Welcome to MB</h3>
            <p>
                Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
            </p>
            <p>Login in. To see it in action.</p>

            <div class="form-group">
                @Html.TextBoxFor(model => model.username, new { @class = "form-control", placeholder = "Email id or Username" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b" id="btnLogin">Login</button>

            <a href="#" id="result"><small>Forgot password?</small></a>
            <p class="text-muted text-center"><small>Do not have an account?</small></p>
            <a class="btn btn-sm btn-white btn-block" href="@Url.Action("Register", "Pages")">Create an account</a>

            <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2015</small> </p>
        </div>
    </div>

</body>

</html>


